# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.sdf
*.opensdf
*.ipch
*.bsc
*.suo
*.cfg

q3_test/Debug/
code/baseq3/
code/game/Debug/
code/cgame/Debug/
code/q3_ui/Debug/
code/q3_ui/q3_ui___Win32_Debug/
code/Backup/
code/Debug/
code/botlib/Debug/
code/renderer/Debug/
code/splines/Debug/
SDL2/

